langchain==0.1.19
langchain-community==0.0.19
langchain-core==0.1.42
python-dotenv
pypdf
pymupdf
wikipedia
langchain_text_splitters
langchain-openai
sentence_transformers
langchain_huggingface
langchain_huggingface
faiss-cpu
langchain_chroma
langchain_groq
streamlit
chromadb